pre, code {
  font-family: Helvetica, Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 1.5em;
  color: #333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

pre { border: 1px solid #CCC; background-color: #EEE; color: #333; padding: 10px; overflow: scroll; }
code { padding: 2px 4px; background-color: #F7F7F9; border: 1px solid #E1E1E8; color: #D14; }

body {
  font-family: Helvetica, Arial, sans-serif; line-height: 1.75em; -webkit-font-smoothing: antialiased;
  background-color: #F6F6F6;
  color: #3A3A3A;
}

/*body a:visited {
  color: black;
}*/

.modal-body {
  width: 875px !important;
  margin: 0 auto;
}

#portrait {
  width: 25%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: -135px;
}

#portrait img {
  width: 225px;
  height: 225px;
  border-radius: 50%;
  border: white solid 12px;
  text-align: center;
  z-index: 1;
  margin-top: -22%;
}

.links {
  float: right;
  margin-top: -60px;
}

@media screen and (max-width: 650px) {
  .links {
    margin-top: -25px;
    float: none;
    text-align: center;
  }
  #portrait {
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
  #portrait img {
    margin-top: -95px;
    margin-bottom: -75px;
  }
  #header h1 {
    text-align: center;
  }
}
.container {
  width: 80%;
  margin: 20px auto;
  background-color: #FFF;
  padding: 20px;
  border-radius: 3px;
  border: 1px black solid;
  overflow: auto;
}

.container p {
  margin: 20px 0 0 10px;
}

.container h2 {
  color: black;
  font-variant: small-caps;
  font-size: 2em;
}

.other { height: 300px; color: #FFF; }

.other div {
  position: absolute;
  bottom: 0;
  width: 100%;
  /*background: #000;*/
  background: rgba(255,255,255,0.5);
}

.other div p { padding: 10px; }

#other {
/*    background-color: rgba(1,1,200,0.1);*/
}

#header {
  width: 100%;
  margin: 0 auto;
  margin-left: -10px;
  margin-top: -20px;
  background-color: #FFF;
  padding: 20px;
  border-bottom: 2px black solid;
}

#header h1 {
  font-variant: small-caps;
  font-size: 4em;
}

#header h2 {
  color: black;
  font-variant: small-caps;
  font-size: 1.5em;
}

@media screen and (max-width: 650px) {
  #header {
    height: 220px;
  }

}

#site-about{
  clear: both;
  padding: 1.625em 0 0;
  overflow: auto;
}

#site-text {
  position: absolute;
  width: 40%;
}

.images img {
  float: right;
  width: 45%;
  height: 45%;
  padding: 2%;
}

.fin {
  text-align: center;
  margin-bottom: 20px;
}

.fin img {
  display: inline-block;
  margin: 0 5px 0 5px;
}

.tag-end{
  text-align: center;
}