@import url(http://fonts.googleapis.com/css?family=Graduate|VT323);


body {
  text-align: center;
  margin: 0 auto;
  font-family: 'Graduate', cursive;
}

#points {
  font-family: 'VT323', ;
}

.timer {
  font-family: 'VT323', ;
}

ul li {
  margin: 0 auto;
  list-style-type: none;
}

#scoreboard{
  display: inline;
  width: 960px
}

#left-zone{
  float: left;
  margin-left: 26%;
}

#right-zone{
  float: right;
  margin-right: 25%;
}

#submit{
  margin-left: 5px;
  border: red solid 1px;
  padding: 5px;
}

#easy-game{
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  margin-top: -15px;
}

#int-game{
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  margin-top: -15px;
}

#hard-game{
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  margin-top: -15px;
}

.cardback {
  background-image: url('../images/b1fv.png');
  width: 20%;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
}

.card {
  width: 100%;
}

.winners {
  width: 100%;
}

