.FuturaBT-Medium {
    font-family: FuturaBT-Medium;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 1px;
}
.FuturaBT-BoldCondensed {
    letter-spacing: 1px;
    font-family: FuturaBT-BoldCondensed !important;
    font-weight: bold;
    font-style: normal;
    color: #393939;
}


@font-face
{
    font-family: Duke;
    src: url('../fonts/Duke.otf');
}

@media (max-width: 767px){
    .hidden-sm-down {
        display: none;
    }
}

/* Extra Small devices (767px and below) */
@media (max-width: 767px) {
    h6 {
        font-size: .85rem;
    }
    .jumbotron
    {
        background: white;
        padding: 2rem 1rem 0rem 1rem;
        border-radius: 0;
        margin-bottom: 0;
    }
    .jumbotron h1 {
        font-size: 3em;
    }
    .subtitle {
        margin-top: -0.6em;
    }
    .sub-menu
    {
        margin: 1rem 0rem 0rem 0rem;
        padding: 1rem 0;
        border-top: 1px solid black;
    }
    .abs-hero
    {
        position: absolute;
        width: 100%;
        background-image: url('../images/poi-mural-mobile.jpg');
        background-size: cover;
        background-position-y: 10rem;
        background-repeat: no-repeat;
        height: 100vh;
    }

    .hidden {
        display: none;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: opacity 0.5s;
        transition: opacity 0.5s;
    }
    #side-menu, .shop-menu, #locations-menu {
        height: 100vh;
        margin-top: 1rem;
    }

    #side-menu ul {
        list-style-type: none;
        padding: 0 1rem;
    }

    .nav-item, .shop-item, .services-item {
        letter-spacing: 1px;
        padding: 2.25rem 0 1.25rem 0rem;
    }
    .nav-item span h6 {
        cursor: pointer;
    }
    .services-item {
        margin: 0 1rem;

    }
    .shop-item {
        margin: 0 1rem;
    }

    .press-item {
        margin: 0 1rem 0 1rem;
        font-family: FuturaBT-Medium;
        font-weight: 700;
        padding: 1.5rem 0 1.5rem 0rem;
    }
    .press-item h6 {
        margin-bottom: 0rem;
    }
    .press-item a, .services-item a {
        color: #373a3c;
    }

    .services-item h6:nth-child(1) {
        display: inline-block;
        text-align: left;
    }

    .services-item h6:nth-child(2) {
        float: right;
    }

    .hood {
        display: inline-block;
        cursor: pointer;
    }

    .caret {
        float: right;
        padding-left: 3rem;
        margin-top: 1rem;
    }

    .caret h6 a {
        cursor: pointer;
        text-decoration: none;
    }

    .location-tab {
        text-align: left;
        list-style-type: none;
        -webkit-padding-start: 0px;
    }

    .border {
        border-top: 1px solid black;
    }

    a[href^="tel:"]:before {
        color: inherit;
        content: "\260E";
        display: inline-block;
        margin-right: 0.5em;
    }

    .vh {
        height: 100vh;
        margin-top: 1rem;
    }
    #wb-map-close {
        /*height: 67vh;*/
        width: 100%;
    }
    .leaflet-container {
        background: white;
    }

}

@media (max-width: 1160px) {
    .press-dropdown h6 a {
        font-size: 1.1vw;
    }
}
@media (max-width: 1000px) {
    .services-list .dropdown-item .col-md-4 h6 {
        font-size: 1.1vw;
    }
}
@media (max-width: 1050px) {
    .location-dropdown h6 p{
        font-size: 1.1vw;
    }
}
/* (tablets, 768px and up) */
@media (min-width: 768px) {
    .jumbotron
    {
        background: white;
        padding: 1rem 1rem 0rem 1rem;
        border-radius: 0;
        margin-bottom: 0;
    }
    .jumbotron h1 {
        font-size: 3em;
    }
    .subtitle {
        margin-top: -.75em;
    }
    .subtitle {
        font-size: 1rem;
    }
    #side-menu ul {
        list-style-type: none;
        padding: 0 1rem 0 1rem;
    }
    .nav {
        padding-left: .25rem;
    }
    .nav-item {
        padding: 0 2rem 0 0;
    }
    #side-menu {
        margin: 2rem 0 0 0;
        padding: 2rem 0rem;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    .mcaret {
        margin-right: 2rem;
    }
    .borders {
        margin: 1rem;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    .border-top {
        margin: 1rem 1rem 0rem;
        border-top: 1px solid black;
    }
    .nav-pills .nav-link {
        color: #393939;
        font-family: inherit;
        font-weight: 700;
        padding: .5em 0em;
        letter-spacing: 1px;
    }
    .poi-nav-item {
        padding: .75rem;
        padding-right: 2rem;
        display: inline-block;
    }
    .background-tablet {
        background: url("../images/poi-mural-full.jpg") 0 0 / cover;
        height: calc(100vh - 220px);
        -webkit-height: calc(100vh - 220px);
        overflow-y: hidden;
    }
    .mapped-panel {
        height: calc(100vh - 220px);
        -webkit-height: calc(100vh - 220px);
        background-color: white;
    }
    .nav li.dropdown {
        position: static;
    }
    .nav li.dropdown.open .dropdown-menu {
        border-radius: 0;
        border: 0;
        width: 100%;
        text-align: left;
    }
    .dropdown-manu {
        padding: 1em 0;
    }
    .dropdown-menu li {
        list-style-type: none;
    }
    .services-list li:nth-child(1) {
        margin-left: -1.25rem;
    }
    .services-list li:nth-child(2) {
        margin-left: .5rem;
    }
    .services-list li:nth-child(3) {
        margin-left: .5rem;
    }
    .services-list li:nth-child(3) h6 {
        margin-right: -1.5rem;
        padding-right: -1.5rem;
    }
    .services-list li:nth-child(4) {
        margin-left: -1.25rem;
    }
    .services-list li:nth-child(5) {
        margin-left: .5rem;
    }
    .services-list li:nth-child(6) {
        margin-left: .5rem;
    }
    .services-list li:nth-child(6) h6 {
        margin-right: -1.5rem;
        padding-right: -1.5rem;
    }
    .dropdown-item{
        background-color: white;
    }
    .dropdown-item:focus, .dropdown-item:hover {
        text-decoration: none;
        background-color: inherit;
    }
    .dropdown-item .col-md-4 h6 {
        display: inline-block;
        padding: 1rem 0;
    }
    .dropdown-item .col-md-4 h6 {
        display: block;
        border-bottom: 1px solid black;
    }
    .dropdown-item .col-md-4 h6 span {
        float: right;
    }
    .press-dropdown, .location-dropdown  {
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: FuturaBT-Medium;
        font-weight: 700;
        background-color: white !important;
        width: 33%;
        height: 67vh;
        cursor: pointer;
    }
    .location-dropdown{
        padding-right: 2rem;
    }
    .press-dropdown{
        overflow-y: scroll;
    }
    .press-dropdown h6{
        border-bottom: black 1px solid;
        padding: 1rem 0;
    }
    .location-dropdown li {
        border-bottom: black 1px solid;
        padding: 3rem 0;
        line-height: 1.25
    }
    #poi-burg-detail li, #poi-gard-detail li, #poi-green-detail li {
        border-bottom: none !important;
    }
    .location-dropdown li:last-child {
        border-bottom: none;
    }
    #allview > li {
        margin-left: .5rem;
    }
    .press-dropdown h6 a, .press-dropdown h6 a:visited, .location-dropdown h5 a,  .location--dropdown h5 a:visited {
        color: inherit;
    }
    #map {
        height: 67vh;
        width: 100%;
    }
    .leaflet-container {
        background: white;
    }

    /* detail style*/
    #detail-view ul {
        padding-left: .5rem;
        font-family: FuturaBT-Medium !important;
    }
    #detail-view ul li a {
        color: inherit;
        text-decoration: underline;
        font-size: inherit;
    }
    h6, h6 a {
        font-size: .9rem;
    }
    h5 {
        font-size: .9rem;
    }
}

@media (min-width: 769px) and (max-width: 1200px){
    .background-tablet {
        margin-bottom:4em;
    }
}

@media (min-width: 768px){
    .headhight {
        min-height: 40px;
    }
    .biglogo {
        min-height: 60px;
    }
}
/* all styles */

/* title section*/
h1
{
    font-family: 'Duke';
}
a i {
    color: #373a3c;
}
.subtitle
{
    font-family: FuturaBT-BoldCondensed;
    font-weight: 100;
    margin-bottom: 0;
    letter-spacing: 1px;
    color: #393939;
}
#logo {
    text-decoration: none;
    color: inherit
}
.nav-item h6:first-child {
    display: inline-block;
}
.mcaret {
    float: right;
    padding-left: 48px;
    padding-left: 3rem;
}
.nav-item a, .shop-item a, .services-item a {
    color: #373a3c;
}
.nav-item h6 a, .shop-item h6 a {
    cursor: pointer;
    text-decoration: none;
}
.hidden {
    display: none !important;
}
.poi-nav-item {
    font-family: FuturaBT-BoldCondensed, Helvetica Neue, Helvetica, Arial;
    font-weight: 100;
    font-size: 14px;
    font-size: .9rem;
}
body {
    font-family: FuturaBT-Medium, Helvetica;
}
p {
    line-height: 1.25;
    letter-spacing: 1px;
    overflow-x: scroll;
}

#footer ul li {
    text-decoration: none !important;
}
#footer li {
    list-style-type: none;
}

.back-will, .back-gard, .back-burg, .back-fort {
    display: inline-block;
    width: 100%;
    padding-bottom: .5rem;
    font-family: FuturaBT-BoldCondensed !important;
}