@font-face
{
    font-family: Futura;
    src: url('../fonts/Futura.ttc');
}
@font-face
{
    font-family: Duke;
    src: url('../fonts/Duke.otf');
}

/* Extra Small devices (767px and below) */
@media (max-width: 767px) {
    .jumbotron h1 {
        font-size: 3em;
    }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .jumbotron h1 {
        font-size: 6em;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .jumbotron h1 {
        font-size: 8em;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .jumbotron h1 {
        font-size: 10em;
    }
}


/* all styles */

h1
{
    font-family: 'Duke';
}
.jumbotron
{
    background: white;
    padding: 2rem 1rem 0rem 1rem;
    border-radius: 0;
    margin-bottom: 0;
}
.subtitle
{
    font-family: Futura;
    font-weight: 700;
    margin-top: -0.6em;
    margin-bottom: 0;
}

.sub-menu
{
    margin: 1rem 0rem 0rem 0rem;
    padding: 1rem 0;
    border-top: 1px solid black;
}
.abs-hero
{
    position: absolute;
    width: 100%;
    background-image: url('../images/poi-mural-mobile.jpg');
    background-size: cover;
    background-position-y: 10rem;
    background-repeat: no-repeat;
    height: 100vh;
}

a i {
    color: #373a3c;
}


.hidden {
    display: none;
    opacity: 0;
    transition: opacity 0.5s;
}

#side-menu, .shop-menu {
    height: 100vh;
}



#side-menu ul {
    list-style-type: none;
    padding-left: 0;
}

.nav-item, .shop-item {
    font-family: Futura;
    font-weight: 700;
    padding: 2.5rem 0 1.5rem 0rem;
}

.nav-item a, .shop-item a {
    color: #373a3c;
}

.nav-item h4:first-child {
    display: inline-block;
    float: left;
}

.nav-item h4 a, .shop-item h4 a {
    cursor: pointer;
    text-decoration: none;
}

.press-item, .services-item {
    font-family: Futura;
    font-weight: 700;
    padding: 1.5rem 0 .5rem 0rem;
}

.press-item a, .services-item a {
    color: #373a3c;
}

.services-item h5:nth-child(1) {
    display: inline-block;
    text-align: left;
}

.services-item h5:nth-child(2) {
    float: right;
}

.hood {
    display: inline-block;
}

.caret {
    float: right;
    padding-left: 3rem;
    margin-top: 1rem;
}

.caret h5 a {
    cursor: pointer;
    text-decoration: none;
}

/*h4 .nav-link {*/
    /*float: left;*/
/*}*/

.right-sub {
    position: absolute;
    left: 100vw;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    margin: 1rem 0rem 0rem 0rem;
    padding: 1rem 0;
}

.location-tab {
    text-align: left;
}

.border {
    margin: 0 1rem;
    border-top: 1px solid black;
}

a[href^="tel:"]:before {
    content: "\260E";
    display: inline-block;
    margin-right: 0.5em;
}